.Palette {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; /* Solution to keep page in proportion to content */
}

.Palette__colors {
    height: calc(100vh - 74px);
    display: flex;
    flex-wrap: wrap;
    padding-top: 74px;
}

.Palette__nav {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 5;
    height: 74px;
}

.Palette__logo {
    flex: 0 0 auto;
}

.Palette__nav-slider {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex: 1 0 auto;
    margin-right: auto;
}

.Palette__slider {
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
}

.Palette__format {
    flex: 0 0 auto;
    margin-left: 10px;
}

.Palette__footer {
    font-weight: 700;
    background: white;
    padding: 10px 40px;
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 600px){
    .Palette__nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .Palette__colors {
        height: calc(100vh - 154.875px);
        padding-top: 154.875px;
    }    
    .Palette__logo {
        margin: 5px 0;
    }
    .Palette__nav-slider {
        margin-left: 0;
        width: 100%;
    }
    .Palette__format {
        margin-left: 0
    }
}

@media(max-width: 850px){
    .Palette__slider {
        max-width: 300px;
    }
}

@media(max-width: 991px){
    .Palette {
        overflow-y: scroll;
    }
    .Palette__slider {
        max-width: 350px;
    }
}