.Palette {
    height: 100vh;
    overflow: hidden;
}

.Palette__colors {
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap;
}

.Palette__nav {
    display: flex;
    align-items: center;
    padding: 20px;
}

.Palette__nav-slider {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    max-width: 500px;
}

.Palette__slider {
    margin-left: 20px;
}

@media(max-width: 991px){
    .Palette {
        overflow-y: scroll;
    }
}