*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

.App {
  height: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 55%;
  margin: 0 auto;
}

a, a:link, a:visited {
  color: inherit;
}

a:hover, a:focus {
  color: inherit;
}

@media(max-width: 1330px){
  .container {
    max-width: 65%;
  }
}

@media(max-width: 1110px){
  .container {
    max-width: 75%;
  }
}

@media(max-width: 991px){
  .container {
    max-width: 85%;
  }
}

@media(max-width: 767px){
  .container {
    max-width: 95%;
  }
}